name: CI/CD Pipeline

on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set permissions
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean package -DskipTests

      - name: Copy jar file
        run: |
          cp target/Book2OnAndOn-book-service-0.0.1-SNAPSHOT.jar ~/Book2OnAndOn-book-service-0.0.1-SNAPSHOT.jar

      - name: Deploy
        run: |
          cd ~
          chmod +x deploy.sh
          ./deploy.sh
          
